<h1>Edit <%= car.year %> <%= car.make %> <%= car.model %></h1>
<form action="/cars/<%= car._id %>?_method=PUT" method="POST">
  <input type="text" name="make" value="<%= car.make %>" required />
  <input type="text" name="model" value="<%= car.model %>" required />
  <input type="number" name="year" value="<%= car.year %>" />
  <input type="text" name="image" value="<%= car.image %>" />
  <button type="submit">Update</button>
</form>
<a href="/cars">Cancel</a>

