<h1><%= car.year %> <%= car.make %> <%= car.model %></h1>
<img src="<%= car.image %>" alt="<%= car.make %> <%= car.model %>" width="300"/>
<a href="/cars/<%= car._id %>/edit">Edit</a>
<form action="/cars/<%= car._id %>?_method=DELETE" method="POST">
  <button type="submit">Delete</button>
</form>
<a href="/cars">Back to All Cars</a>
